<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="assets/icon/foto_m.jpg"></ion-img>
    <p>Nombe: Mauricio Villarroel</p>
    <p>edad: 24 años</p>
    <p>estudiante de ingenieria en informatica en el instituto DUOC UC</p>
  </ion-card>
  <ion-card>
    <ion-img src="assets/icon/foto_a.jpg "></ion-img>
    <p>Nombre: Adán Sánchez</p>
    <P>Edad: 19</P>
    <p>estudiante de ingenieria en informatica en el instituto DUOC UC, jugador de futbol profesional y amigo de chayane</p>
  </ion-card>
</ion-content>
