<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-tittle>Menú</ion-tittle>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item routerLink="/bienvenidos">
            <ion-icon name="diamond-outline" slot="start"></ion-icon>
            <ion-label>Bienvenidos</ion-label>
          </ion-item>
          <ion-item routerLink="/login">
            <ion-icon name="finger-print-outline" slot="start"></ion-icon>
            <ion-label>login</ion-label>
          </ion-item>
          <ion-item routerLink="/about">
            <ion-icon name="body-outline" slot="start"></ion-icon>
            <ion-label>about</ion-label>
          </ion-item>
          <ion-item routerLink="/coversor">
            <ion-icon name="construct-outline" slot="start"></ion-icon>
            <ion-label>corversor</ion-label>
          </ion-item>
          <ion-button id="btnSalir" routerLink="/login">Cerrar Sesion</ion-button>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
